*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  background-color: rgb(41, 41, 41);
}

#root{
  width: 100%;
  height: 100vh;
}

#both-halves{

  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

.basic-container{
  background-color: rgb(26, 26, 26);
  display: flex;
  flex-direction: column; 
  padding: 2% 5%;
} 