*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  background-color: rgb(17, 24, 40);
}

#root{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.basic-container{
  background-color: rgb(29, 41, 55);
  display: flex;
  flex-direction: column; 
  border-radius: 2rem;
  min-width: 50%;
  padding: 2% 5%;
} 

.basic-form{
  display: flex;
  flex-direction: column;
  width: 100%;
}

